
/*side menu for smaller screens*/

@media screen and (max-width: 800px) {
    #sideMenu {padding-top: 15px;}
    #sideMenu a {font-size: 15px;}
  }

/* @media (max-width: 800px) {
    .wrapper {
      flex-direction: column;
    }
  } */